@media screen and (max-width: 425px) {
	.main {
		.title {
			font-size: 32px !important;
		}

		p {
			margin-bottom: 30px !important;
		}

		form {
			input, .btn-shorten {
				width: 100% !important;
				margin-bottom: 10px;
			} 
		}
	}
}
