@media screen and (max-width: 768px) {
	.top {
		position: relative !important;
	}

	.main {
		height: 100% !important;
		padding: 80px 30px !important;

		.title {
			margin-top: 0 !important
		}
	}
}

@media screen and (max-width: 425px) {
	.main {
		.title {
			font-size: 32px !important;
		}

		form {
			input, .btn-shorten {
				width: 100% !important;
				margin-bottom: 10px;
			} 
		}

		span {
			right: 0 !important;
		}
	}
}
