@import 'reset';
@import 'responsive';

$full: 100%;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
$white: #fff;
$orange: #ff6e14;
$red: #aa1423;
$grey: #777;
$lightGrey: #eee;

body {
  height: $full;
  font-family: $fontRoboto;
}

.hide {
	display: none;
}

.display-center {
	display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: $full;
}

.back-image {
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hover {
	transition: opacity 0.5s;
	&:hover {
		opacity: 0.8;
	}
}

.top {
	@extend .display-center;
	padding: 16px 20px 9px 20px;
	background-color: white;
	position: fixed;
	z-index: 9;
	transition: background-color 1s;
}

.content {
	max-width: 520px;
	text-align: center;
	position: relative;
}

.title {
	font-family: $fontRobotoSlab;
	color: $red;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: normal;
}

.main {
	@extend .back-image;
	@extend .display-center;
	height: 100vh;
	padding: 30px;

	.title {
		color: $white;
		font-size: 38px;
		margin-bottom: 20px;
		margin-top: 54px;
		font-weight: bold;
	}
	
	p {
		font-family: $fontRoboto;
		color: $white;
		font-size: 18px;
		margin-bottom: 60px;
		line-height: 1.6;
	}

	form {
		width: $full;
		font-family: $fontRoboto;
		@extend .display-center;
		position: relative;

		input {
			width: 70%;
			border: none;
			border-bottom: 2px solid $orange;
			font-size: 18px;
			color: $orange;
			padding: 13px 0;
			background-color: transparent;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: $orange;
			}
		}

		.btn-shorten {
			width: 27%;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			font-family: $fontRoboto;
			cursor: pointer;
			background-color: $orange;
			color: $white;
			padding: 13px 0;
			@extend .hover;
		}

		span {
			position: absolute;
			color: $white;
			font-size: 18px;
			font-family: sans-serif;
			top: 13px;
			right: 30%;
			cursor: pointer;
			@extend .hover;
		}
	}

	.message {
		position: absolute;
		text-align: center;
		width: $full;
		color: $white;
		font-size: 18px;
		bottom: -50px;

		a {
			text-decoration: none;
			@extend .hover;
			color: $orange;
		}
	}
}

.top-five {
	@extend .display-center;
	justify-content: center;
	padding: 60px 30px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		bottom: -69px;
		left: 50%;
	  margin-left: -35px;
		border: 35px solid;
		border-color: $white transparent transparent transparent;
	}
	
	.content {
		width: 420px;
		
		.top-list {
			font-family: $fontRoboto;
			font-size: 18px;
			margin-top: 30px;

			.group-item {
				@extend .display-center;
				justify-content: space-between;
				padding: 15px 0;
				border-bottom: 2px solid $lightGrey;
				&:last-child {
					border: none;
					padding-bottom: 0;
				}

				a {
					font-weight: bold;
					color: $red;
					text-decoration: none;
					@extend .hover;
				}

				span {
					color: #gray;
				}
			}
		}
	}
}

.hits {
	@extend .display-center;
	padding: 70px 30px 60px 30px;
	background-color: $lightGrey;

	.count {
		padding: 7px 15px;
		border: 1px solid $grey;
		color: $red;
		font-family: $fontRobotoSlab;
		font-size: 28px;
		border-radius: 5px;
		margin-top: 20px;
		background-color: $white;
	}

	span {
		font-family: $fontRoboto;
		font-size: 16px;
		color: $grey;
		margin-top: 10px;
	}
}

.footer {
	@extend .display-center;
	padding: 20px 30px;
	background-color: $white;
	
	.content {
		@extend .display-center;
		justify-content: space-between;
		max-width: 650px;
		vertical-align: middle;
		
		a {
			color: $red;
			text-decoration: none;
			font-size: 20px;
			font-family: $fontRoboto;
			@extend .hover;
		}

		.social-icons {
			a {
				margin-left: 15px;
			}
		}
	}
}

.top-fixed {
	background-color: rgba(170, 20, 35, 0.3);
}

.input-bold {
	font-weight: bold;
	color: $white !important;
}